{% extends 'base.html' %} {% block body %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="css" href="/static/css/stylesheet.css">
      
    <title>Team Page</title>
</head>
<body>
Olivia Dachtler and Olivia Kremer
&nbsp;
&nbsp;
<div></div>
    <img src="/team.jpg" alt="Picture of the team" width="200" height="300">
</body>
</html>
{% endblock %}
